
html {
    background-color: #F5F7FA;
}

body {
    background-color: inherit;
}

h1 {
    margin-bottom: 1em;
    color: #52575C;
    font-weight: 300;
    font-size: 24px;
}

button {
    margin-top: 1em;
}

input {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

#main-container {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 5em;
    text-align: center;
}

form {
    margin-bottom: 1em;
}